<div class="banner-container" style="background-image: url('{{BG_IMAGE}}');">
    <div class="banner-container-content">
        <div class="banner-container-content-title">
            <p>{{TITLE}}</p>
        </div>
        <div class="banner-container-content-subtitle">
            <p>{{SUBTITLE}}</p>
        </div>
        <div class="banner-container-content-about-us">
            <a class="cta-link" href="{{CTA_HREF}}">
                <div class="banner-container-content-button-container">
                    <p>{{CTA_TEXT}}</p>
                </div>
            </a>
        </div>
    </div>
</div>
