<div class="general_news-section-container">
    <div class="general_news-content">
        <div class="upper-section-content">
            <div class="section-name">
                <div class="name">
                    <p>{{SECTION_LABEL}}</p>
                </div>
                <div class="divider">
                    <div class="divider-left"></div>
                    <div class="divider-right"></div>
                </div>
            </div>

            <div class="section-title">
                <div class="title">
                    <p>{{SECTION_TITLE}}</p>
                </div>

                <a href="{{SEE_ALL_URL}}" class="see-all-button">
                    Xem tất cả
                </a>
            </div>
        </div>

        <div class="general_news-grid">
            <a href="{{CARD_1_URL}}" class="general_news-card">
                <div class="general_news-card-image" style="background-image: url('{{CARD_1_IMAGE}}');"></div>
                <div class="general_news-card-body">
                    <div class="general_news-card-title">{{CARD_1_TITLE}}</div>
                    <div class="general_news-card-desc">{{CARD_1_DESC}}</div>
                </div>
            </a>

            <a href="{{CARD_2_URL}}" class="general_news-card">
                <div class="general_news-card-image" style="background-image: url('{{CARD_2_IMAGE}}');"></div>
                <div class="general_news-card-body">
                    <div class="general_news-card-title">{{CARD_2_TITLE}}</div>
                    <div class="general_news-card-desc">{{CARD_2_DESC}}</div>
                </div>
            </a>

            <a href="{{CARD_3_URL}}" class="general_news-card">
                <div class="general_news-card-image" style="background-image: url('{{CARD_3_IMAGE}}');"></div>
                <div class="general_news-card-body">
                    <div class="general_news-card-title">{{CARD_3_TITLE}}</div>
                    <div class="general_news-card-desc">{{CARD_3_DESC}}</div>
                </div>
            </a>

            <a href="{{CARD_4_URL}}" class="general_news-card">
                <div class="general_news-card-image" style="background-image: url('{{CARD_4_IMAGE}}');"></div>
                <div class="general_news-card-body">
                    <div class="general_news-card-title">{{CARD_4_TITLE}}</div>
                    <div class="general_news-card-desc">{{CARD_4_DESC}}</div>
                </div>
            </a>

            <a href="{{CARD_5_URL}}" class="general_news-card">
                <div class="general_news-card-image" style="background-image: url('{{CARD_5_IMAGE}}');"></div>
                <div class="general_news-card-body">
                    <div class="general_news-card-title">{{CARD_5_TITLE}}</div>
                    <div class="general_news-card-desc">{{CARD_5_DESC}}</div>
                </div>
            </a>

            <a href="{{CARD_6_URL}}" class="general_news-card">
                <div class="general_news-card-image" style="background-image: url('{{CARD_6_IMAGE}}');"></div>
                <div class="general_news-card-body">
                    <div class="general_news-card-title">{{CARD_6_TITLE}}</div>
                    <div class="general_news-card-desc">{{CARD_6_DESC}}</div>
                </div>
            </a>
        </div>
    </div>
</div>