<div class="partners-section">
    <div class="content">
        <div class="partners-viewport">
            <div class="partners-track">
                <div class="partner-grid">
                    <a class="partner-cell" href="{{PARTNER_1_URL}}"><img src="{{PARTNER_1_IMAGE}}" alt="Partner 1" /></a>
                    <a class="partner-cell" href="{{PARTNER_2_URL}}"><img src="{{PARTNER_2_IMAGE}}" alt="Partner 2" /></a>
                    <a class="partner-cell" href="{{PARTNER_3_URL}}"><img src="{{PARTNER_3_IMAGE}}" alt="Partner 3" /></a>
                    <a class="partner-cell" href="{{PARTNER_4_URL}}"><img src="{{PARTNER_4_IMAGE}}" alt="Partner 4" /></a>
                    <a class="partner-cell" href="{{PARTNER_5_URL}}"><img src="{{PARTNER_5_IMAGE}}" alt="Partner 5" /></a>
                    <a class="partner-cell" href="{{PARTNER_6_URL}}"><img src="{{PARTNER_6_IMAGE}}" alt="Partner 6" /></a>
                    <a class="partner-cell" href="{{PARTNER_7_URL}}"><img src="{{PARTNER_7_IMAGE}}" alt="Partner 7" /></a>
                    <a class="partner-cell" href="{{PARTNER_8_URL}}"><img src="{{PARTNER_8_IMAGE}}" alt="Partner 8" /></a>
                    <a class="partner-cell" href="{{PARTNER_9_URL}}"><img src="{{PARTNER_9_IMAGE}}" alt="Partner 9" /></a>
                    <a class="partner-cell" href="{{PARTNER_10_URL}}"><img src="{{PARTNER_10_IMAGE}}" alt="Partner 10" /></a>
                    <a class="partner-cell" href="{{PARTNER_11_URL}}"><img src="{{PARTNER_11_IMAGE}}" alt="Partner 11" /></a>
                    <a class="partner-cell" href="{{PARTNER_12_URL}}"><img src="{{PARTNER_12_IMAGE}}" alt="Partner 12" /></a>
                </div>
            </div>
        </div>
    </div>
</div>
