<div class="product_news-section-container">
    <div class="product_news-content">
        <div class="upper-section-content">
            <div class="section-name">
                <div class="name">
                    <p>{{SECTION_LABEL}}</p>
                </div>
                <div class="divider">
                    <div class="divider-left"></div>
                    <div class="divider-right"></div>
                </div>
            </div>

            <div class="section-title">
                <div class="title">
                    <p>{{SECTION_TITLE}}</p>
                </div>

                <a href="{{SEE_ALL_URL}}" class="see-all-button">
                    Xem tất cả
                </a>
            </div>
        </div>

        <div class="product_news-lower-section-content">
            <a href="{{CARD_1_URL}}" class="product_news-news-card">
                <div class="image" style="background-image: url('{{CARD_1_IMAGE}}');"></div>
                <div class="product_news-news-block">
                    <div class="product_news-news-tag">{{CARD_1_TAG}}</div>
                    <div class="product_news-news-title">{{CARD_1_TITLE}}</div>
                    <div class="product_news-news-desc">{{CARD_1_DESC}}</div>
                </div>
            </a>

            <a href="{{CARD_2_URL}}" class="product_news-news-card">
                <div class="image" style="background-image: url('{{CARD_2_IMAGE}}');"></div>
                <div class="product_news-news-block">
                    <div class="product_news-news-tag">{{CARD_2_TAG}}</div>
                    <div class="product_news-news-title">{{CARD_2_TITLE}}</div>
                    <div class="product_news-news-desc">{{CARD_2_DESC}}</div>
                </div>
            </a>

            <a href="{{CARD_3_URL}}" class="product_news-news-card">
                <div class="image" style="background-image: url('{{CARD_3_IMAGE}}');"></div>
                <div class="product_news-news-block">
                    <div class="product_news-news-tag">{{CARD_3_TAG}}</div>
                    <div class="product_news-news-title">{{CARD_3_TITLE}}</div>
                    <div class="product_news-news-desc">{{CARD_3_DESC}}</div>
                </div>
            </a>
        </div>
    </div>
</div>
